.heroes span {
	display: inline-block;
	margin: 0px 5px;
}

.heroes li {
	display: block;
	background: #333;
	color: #fff;
	padding: 10px 5px;
	margin-bottom: 5px;
}

.heroes li.selected {
	background: #f2f2f2;
	color: #333;
}

.heroes p {
	 margin: 0;
}


.swipe-wrapper {
	border: 1px dashed #000;
	height: calc(100vh - 30px);
	background: #f2f2f2;

}

.flex-wrap {
	display: flex;
	flex-direction: row;
	height: 100%;
	flex-wrap: nowrap;
	width: calc(100% + 30);
	position: relative;
	margin-left: -15px;
}

.box-wrap {
	width: 290px;
	height: 100%;
	position: relative;
	margin-right: 15px;
	background: rgba(0, 0, 0, 0.3);
	float: left;
}

#scroller {
    position: absolute;
    z-index: 1;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    width: 1830px;
    height: 100%;
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-text-size-adjust: none;
    -moz-text-size-adjust: none;
    -ms-text-size-adjust: none;
    -o-text-size-adjust: none;
    text-size-adjust: none;
}
